#snow {

}

#snow .flake {
  position: fixed;
  display: block;
  bac2kground: white;
  border-radius: 50%;
  animation: falling 3s ease-in-out 0s infinite backwards;
  top: 0;
  width: 5vw; height: 5vw;
  opacity: 1;
  transform-origin: 0 0;
  animation-delay: 0s;
  animation-duration: 5.3s;
  animation-iteration-count: infinite;

          /* Snowflakes are made with CSS linear gradients (https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Images/Using_CSS_gradients) */
          background-image: linear-gradient(
              180deg,
              transparent 40%,
              white 40% 60%,
              transparent 60%
            ),
            linear-gradient(
              90deg,
              transparent 40%,
              white 40% 60%,
              transparent 60%
            ),
            linear-gradient(
              45deg,
              transparent 43%,
              white 43% 57%,
              transparent 57%
            ),
            linear-gradient(
              135deg,
              transparent 43%,
              white 43% 57%,
              transparent 57%
            );


            overflow: hidden;

}

@keyframes falling {
  from {
    transform: translate(0, -5vw) rotate(0deg) scale(0.9, 0.9);
  }
  to {
    transform: translate(30px, 100vh) rotate(360deg) scale(1.1, 1.1);
  }
}
